html
	head
		title Chart the Stock Market - FCC project
		link(rel="stylesheet", href="css/style.css")
	body
		header
			h1 stocks
		.main
			.container
				svg#graph(preserveAspectRatio="xMidYMid meet")
				.legend
					form#stock-form(action="#")
						h4 Load more data
						.input-block
							input#stock-input(type="text" placeholder="Stock code")
							input(type="submit" value="Add")
						.form-status#status loading data
					ul#code-list
						li#item-template 
							.code {code}
							.name {name}
		footer
			div &reg 2016 Goran Rakić
			a.icon-button(href="https://twitter.com/gollactive")
				include svg/twitter.svg
			a.icon-button(href="https://github.com/golle404")
				include svg/github.svg
			a.icon-button(href="http://codepen.io/golle404/")
				include svg/codepen.svg
	script(src="js/app.js")